#outer
{
    height: 550px;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    flex-wrap: wrap;
}

#outer div{
    background-color: pink;
}

#header
{
    grid-column-start: 1;
    grid-column-end: 13;
}
#sidebar
{
    grid-column: 1/ span 3;
    grid-row: 2/ 12
}
#nav
{
    grid-row: 2/ span 1;
    grid-column: 4/ span 6;
}

#ad
{
    grid-column: 10/ span 3;
    grid-row: 2/ span 10;
}

#main
{
    grid-column: 4/ span 6;
    grid-row: 3/ span 9;
}

#foot
{
    grid-column-start: 1;
    grid-column-end: 13;
}

