*
{
    font-family: "Courier New";
}

h1
{
    color: #1b74e4;
}

#searchbtn
{
    background-color:black;
    color: white;
}

.userbtn
{
    background-color: aqua;
}


/* if we use two diffrent id then use 
comma (,) opreater to apply prperties
