.main_box
{
    background-image: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
*
{
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn_one
{
    position: absolute;
    left: 16px;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}

.sidebar_menu { 
    position: absolute;
    left: -450px;
    height: 100vh;
    width: 22%; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3); 
    transition: all 0.5s  linear;
    }

.sidebar_menu .logo
{
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    line-height: 60px; 
    
}

.sidebar_menu .logo a{
    position: relative;
    left: 60px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9); 
}

.sidebar_menu .btn_two
{
    position: relative;
    left: 210px;
    top: -50px;
    font-size: 30px;
    font-weight: 400;
}

.sidebar_menu .menu{
    width: 100%;
}
.sidebar_menu .menu li{
    position: relative;
   margin: 20px;
   padding: 10px, 20px;
   left: -15px;
}

.sidebar_menu .menu i, .sidebar_menu .menu a {
    color: white;
    text-decoration: none;
    opacity: 0.9;
    margin-left: 9px;
    padding-right: 6px;
}

.social_media  {
    position: relative;
    left: 15%;
    bottom: -30px;
}

.social_media i {
    color: white;
    opacity: 0.5;
    padding: 4px;
    cursor: pointer;
}

#check
{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);

}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.3);
}


.btn_one:hover{
    
    transform: scale(1.16);
}

#check:checked ~ .sidebar_menu
{
 left: 0;
 transition: 0.6s ease-in 0s;
}

#check:checked ~ .btn_one i
{
    opacity: 0;
}




/* button 1 not working */
.btn_one {
    z-index: 1;
}

.sidebar_menu {
    z-index: 0;
}



