#outer
{
    height: 300px;
    width: 300px;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

#outer div{
    
    background-color: wheat;
    text-align: center;
    border: 2px solid black;
}

#first
{
    grid-column: 1/ 3;
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-row: 1/ span 2
}