#outer{
    height: 200px;
    width: 75px;
    border: 2px solid black;
    background-color: black;
}
.inner
{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px;
}

#red 
{
    background-color : red;

}
#yellow 
{
    background-color : yellow;
    
}

#green
{
    background-color : green;
    
}

h1{
    text-decoration: underline double rgb(36, 36, 31);
    color : rgb(223, 18, 18);
}