h1{
    text-align: center;
    font-family: leauge spartan;
    color: #ffa511;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5; 
    text-decoration:teal double underline;
    text-transform: uppercase;


}